.app {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  margin-bottom: 2rem;
}

.header-title {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}

.previewImage {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(.5);
  border: 1px solid gray;
}

.brushSizeSlider {
  width: 400px;
  margin-top: 2rem;
  cursor: pointer;
}

.buttonsBar {
  margin-top: 2rem;

}

.button {
  min-width: 140px;
  line-height: 50px;
  font-size: 16px;
}

.result-card {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.result {
  font-weight: bold;
}

.should-be-field {
  font-size: 1rem;
}

.submit-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.submit-button mat-spinner {
  margin-right: 20px;
}
