<div class="app" style="text-align:center">
  <mat-toolbar class="header" color="primary">
    <h1 class="header-title">
      Symbol recognition system
    </h1>
  </mat-toolbar>

  <painting-canvas
    *ngIf="clear$ && saveBlob$"
    [brushSize]="brushSize"
    [clear]="clear$"
    [saveBlob]="saveBlob$"
    (onBlobReady)="submitFile($event)"
  ></painting-canvas>

  <mat-slider
    [(ngModel)]="brushSize"
    class="brushSizeSlider"
    color="primary"
    step="1"
    min="5"
    max="50"
  ></mat-slider>

  <div>
    Brush size: {{ brushSize }}
  </div>

  <div class="buttonsBar">
    <button class="button" mat-raised-button #clearButton>
      Clear
    </button>
    <button class="button" mat-raised-button color="primary" #submitButton>
      <span class="submit-button">
        <mat-spinner
          *ngIf="loadingResult"
          class="spinner"
          color="accent"
          [diameter]="25"
          [strokeWidth]="4"
        ></mat-spinner>
        Submit
      </span>
    </button>
  </div>

  <div [hidden]="!result" class="result-card">
    <mat-card>
      Recognised as
      <span class="result">
        {{ result }}
      </span>
      <div class="buttonsBar">
        <mat-form-field class="should-be-field">
          <input
            [(ngModel)]="shouldBe"
            matInput
            placeholder="Should be"
          />
        </mat-form-field>
        <button
          class="button"
          mat-raised-button
          color="warn"
          [disabled]="!shouldBe"
          #correctButton
        >
          Correct
        </button>
      </div>
    </mat-card>
  </div>
</div>
