<div class="app" style="text-align:center">
  <mat-toolbar class="header" color="primary">
    <h1 class="header-title">
      Symbol recognition system
    </h1>
  </mat-toolbar>

  <painting-canvas
    *ngIf="clear$ && saveBlob$"
    [brushSize]="brushSize"
    [clear]="clear$"
    [saveBlob]="saveBlob$"
    (onBlobReady)="submitFile($event)"
    >
  </painting-canvas>

  <input
    [(ngModel)]="brushSize"
    class="brushSizeSlider"
    type="range"
    name="brushSize"
    min="5"
    max="50"
  >

  <div>
    Brush size: {{ brushSize }}
  </div>

  <div class="buttonsBar">
    <button class="button" mat-raised-button #clearButton>Clear</button>
    <button class="button" mat-raised-button color="primary" #submitButton>Submit</button>
  </div>
</div>
