.app {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;
}

.header-title {
  text-align: center;
  width: 100%;
}

.brushSizeSlider {
  width: 400px;
  margin-top: 2rem;
  cursor: pointer;
}

.buttonsBar {
  margin-top: 2rem;

}

.button {
  min-width: 140px;
  line-height: 50px;
  font-size: 16px;
}

.result-card {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.result {
  font-weight: bold;
}
